@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&family=Lato:wght@300;400;700&family=Nunito+Sans:wght@700&family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav li {
  list-style: none;
  font-size: 12px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 50.041px;
  height: 25px;
}

.follow-link {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 10px;
}

.follow-link > svg {
  width: 20px;
  height: 20px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-title {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 38px;
  font-weight: 600;
  text-transform: uppercase;
}

.goat {
  color: #f948b2;
  font-family: Work Sans;
  font-size: 77px;
  font-weight: 800;
  text-transform: uppercase;
}

.banner-img {
  width: 40%;
  height: 40%;
  margin-right: 130px;
  margin-top: -280px;
}

.banner-left img {
  width: 100%;
  height: 100%;
}

.banner-left-info {
  position: relative;
  bottom: 400px;
  left: 200px;
}

.banner-left-info > p {
  color: #534c64;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
  margin-bottom: 7px;
}

.banner-left-info > button {
  padding: 18px 33px;
  border-radius: 48px;
  border: none;
  margin-top: 22px;
  margin-right: 18px;
  color: #fff;
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.sign-in {
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
}

.go-rogue {
  background: #4ec5f7;
}

.displaying-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.displaying-between {
  padding: 18px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.displaying-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: flex-end;
}
.video-container {
  width: 15%;
}
.funny-videos {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.videos img {
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.is-visible {
  visibility: hidden;
}

.videos:hover {
  opacity: 0.5;
}
.videos:hover .is-visible {
  visibility: visible;
}

.is-visible {
  opacity: 1;
}

.open-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 211px;
  left: 279px;
}

/* .video-1 {
  background-image: url("../images/Rectangle\ 4.png");
  height: 400px;
  background-repeat: no-repeat;
}
.video-2 {
  background-image: url("../images/Rectangle\ 4.png");
  height: 400px;
  background-repeat: no-repeat;
}
.video-3 {
  background-image: url("../images/Rectangle\ 4.png");
  height: 400px;
  background-repeat: no-repeat;
} */
/* .video-4 {
  background-image: url("../images/Rectangle\ 4.png");
  height: 400px;
  background-repeat: no-repeat;
} */

.play-last {
  position: relative;
  left: 100px;
  top: 100px;
}

.play-last img {
  width: 80%;
  height: 70%;
}

.play-last-sub img {
  position: relative;
  bottom: 200px;
  right: 140px;
  width: 40%;
  height: 40%;
}

.careers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
}

.careers-info {
  width: 50%;
}

.careers-info-sub {
  width: 75%;
  margin: 0 auto;
}

.careers-info-sub > h2 {
  color: #fff;
  font-family: Work Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

.careers-info-sub > p {
  color: #fff;
  font-family: Work Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.careers-info-sub > button {
  font-family: Work Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #ff42a5;
  padding: 15px 33px;
  border-radius: 48px;
  border: none;
  background: #fff;
  margin-top: 18px;
}

.careers-tiny {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.careers-tiny-half {
  width: 25%;
}

.careers-tiny-half > p {
  color: #fff;
  font-family: Work Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.careers-img {
  background-image: url(../images/Vector\ 2.png);
  background-repeat: no-repeat;
  width: 50%;
}

.careers-img img {
  width: 100%;
  height: 100%;
}

.sorted-games {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 130px;
}

.sorted-games > div > img {
  width: 30%;
  height: 30%;
}

.sorted-games > div > p {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sorted-games > div {
  cursor: pointer;
}

.sorted-games > div:hover {
  border-radius: 50px;
  border: 1.5px solid var(--Linear, #ff42a5);
  background: #fff;
  padding: 2px;
}

.sorted-games > div:hover p {
  font-family: Work Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-games {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.play-games-1 {
  width: 60%;
}
.play-games-2 {
  width: 40%;
  margin-right: 70px;
}

.play-games-2 > p {
  color: #534c64;
  font-family: Work Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.online {
  font-family: Work Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.anytime {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.img-part {
  width: 80%;
  display: flex;
  align-items: flex-end;
  margin: 100px;
}

.big-img {
  width: 72%;
  height: 72%;
  position: relative;
  left: 70px;
}
.small-img {
  width: 35%;
  height: 35%;
  position: relative;
  top: 75px;
  right: 50px;
}

footer {
  background: #0b0223;
  padding: 150px 300px;
}

.gamer-1 {
  color: #ff42a5;
  text-align: center;
  font-family: Work Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.gamer-2 {
  color: #fff;
  font-family: Work Sans;
  font-size: 28px;
  font-weight: 700;
}
.gamer-2-black {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 28px;
  font-weight: 700;
}

.information-1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  /* gap: 1.5rem; */
}

.information-1 > p {
  color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 40px;
}

.information-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  /* gap: 1.5rem; */
}

.information-2 > p {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.information-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.information-3 > svg {
  width: 22px;
  height: 22px;
  margin: 20px 0;
}

.copyright {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .banner {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .banner-img {
    width: 100%;
    height: 100%;
    margin-right: -200px;
    margin-top: 0;
  }
  .banner-left img {
    margin-left: 130px;
  }
  .banner-left-info {
    bottom: 312px;
  }
  .banner-left-info > button {
    padding: 12px 27px;
    margin-top: 10px;
  }
  .displaying-center {
    flex-direction: column;
  }
  .nav-info {
    flex-direction: column;
  }
  .displaying-between {
    flex-direction: column;
    justify-content: center;
  }
  .video-container {
    width: 85%;
  }
  .careers-container {
    flex-direction: column;
  }
  .careers-info {
    width: 80%;
  }

  .careers-img {
    width: 80%;
  }

  .sorted-games {
    margin: 0;
  }

  .play-games {
    flex-direction: column-reverse;
  }

  .play-games-1 {
    width: 80%;
  }

  .play-games-2 {
    margin-right: 0;
    width: 80%;
  }

  .play-games-2 > h2,
  p {
    text-align: center;
  }

  .img-part {
    margin: 50px;
    flex-direction: column;
    margin: 50px 0 0 35px;
  }

  .big-img {
    width: 100%;
    height: 100%;
    left: -30px;
  }

  .small-img {
    width: 50%;
    height: 50%;
    top: -75px;
    right: -35px;
  }

  footer {
    background: #0b0223;
    padding: 150px 90px;
  }

  .gamer-1 {
    font-size: 40px;
  }
  .gamer-2 {
    font-size: 40px;
  }

  .information-1 {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }

  .information-1 > p {
    font-size: 8px;
  }
  .information-2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .information-2 > p {
    font-size: 7px;
  }

  .copyright {
    font-size: 10px;
  }
}
